*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}
body{
    background-image: url('/assets/gamers.png');
    background-size: cover;
}
textarea, input{
    background-color: transparent;
}
textarea:focus, input:focus{
    outline: none;
}
h1{
    color: #fff;
}
label{
    color: #fff;
    font-size: 1rem;
}
#main-container{
    background-color: #520959a2;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10% 10%;
    text-align: center;
    box-shadow: 1px 2px 10px red, 3px 6px 20px purple;
}
form{
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-end;
}
.half-box{
    flex: 0 0 47%;
    position: relative;

}
.full-box{  
    flex: 1 1 100%;
    position:relative;
    
}
label, input{
    display: block;
    width: 100%;
    text-align: left;
    color: #fff;
}
input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border:none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: purple;
    cursor: pointer;
}
form{
    margin-top: 30px;
    margin-bottom: 40px;
}
label{
    font-weight: bold;
}
input{
    border-bottom: 2px solid #674188;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #fff;
}
input:focus{
    border-bottom: 2px solid #A91079;
}


input[type="submit"]:hover{
    box-shadow: 0px 0px 10px 8px #18d4f1,
    inset 0px 0px 10px 2px #18d4f1;
    color: #fff;
    border: #18d4f1;
    background-color: #18d4f156;
    transform: scale(1.05);
}
#full-box{
    margin-bottom: 10px;
}

input[type='checkbox']{
    display: flex;
    width:20px;
}
.box{
    display: flex;
    display: inline-block;
    width: auto;
}
a{
    color: #fff;
}
a:hover{
    color: #18d4f1;
}
#agreement, #agreement-label{
    display: inline-block;
    width: auto;
    margin-top: 33px;
}
.error-validation{
    color: red;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}
.placeholder{
    color: red;
}
.template{
    display: none;
}
input::placeholder{
    color: #ffffff91;
}